@model UrlShortener.Models.AboutModel

<h1>About Url Shortener</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "5" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    }
}
else
{
    <div>
        @Model.Description
    </div>
}